<meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"/>
<meta charset="UTF-8">
<meta name="Description" content="{{ page.description }}"/>
<meta name="Keywords" content="{{ page.keywords }}"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" type="image/png" href="/resources/images/favicon.png"/>
<title>Title here</title>
<link rel="stylesheet" type="text/css" href="/resources/css/combined.min.css">
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Lato:300,300italic,400,400italic,700,700italic|Shadows+Into+Light" rel="stylesheet" type="text/css">

<!-- LemonStand CSS -->
<link rel="stylesheet" type="text/css" href="/resources/cms/lemonstand.css">

<!-- If you want to add custom styles, uncomment the stylesheet below. -->
<link rel="stylesheet" type="text/css" href="/resources/css/turquoise.css" id="color_scheme">

<link rel="stylesheet" type="text/css" href="/resources/css/custom.css">

<!--[if lt IE 9]>
<script src="resources/javascript/html5shiv.js"></script>
<![endif]-->

<script type="text/javascript" src="/resources/javascript/combined.min.js"></script>
{# <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script> #}
<script type="text/javascript" src="/resources/cms/lemonstand.js"></script>
