<!-- Home content -->
<section class="home">
    <!-- Slider -->
    <section class="flexslider">
        <ul class="slides">
            <li>
              <img src="/resources/images/demo_slide_1.jpg" alt="" />
              <div class="caption">
                  <div class="container">
                      <div class="span6">
                        {% include "content/carousel-slide-content-1.htm" %}
                      </div>
                  </div>
              </div>
            </li>
            <li>
                <img src="/resources/images/demo_slide_2.jpg" alt="" />
                <div class="caption">
                  <div class="container">
                    <div class="span6 offset6 text-right">
                      {% include "content/carousel-slide-content-2.htm" %}
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <img src="/resources/images/demo_slide_3.jpg" alt="" />
                <div class="caption">
                  <div class="container">
                    <div class="span6 offset6 text-right">
                      {% include "content/carousel-slide-content-3.htm" %}
                    </div>
                  </div>
                </div>
            </li>
        </ul>
    </section>
    <!-- End class="flexslider" -->
    <!-- Promos -->
    <section class="promos">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <div class="free-shipping">
                        <div class="box border-top">
                            <img src="/resources/images/free-shipping.png" alt="" />
                            <div class="hgroup title">
                                <h3>Free shipping!</h3>
                                <h5>On orders over $50</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="world-shipping">
                        <div class="box border-top">
                            <img src="/resources/images/world-shipping.png" alt="" />
                            <div class="hgroup title">
                                <h3>We're now global!</h3>
                                <h5>This is a snappy sub-title</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <div class="low-price">
                        <div class="box border-top">
                            <img src="/resources/images/low-price.png" alt="" />
                            <div class="hgroup title">
                                <h3>Lowest price guarantee!</h3>
                                <h5>This is a snappy sub-title</h5>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque beatae tempore porro officiis!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End class="promos" -->
    <!-- Featured content" -->
    <section class="featured">
        <div class="container">

            <div class="row">
                <div class="span9">
                    <!-- Products list -->
                     <ul class="product-list isotope">
                        {% for product in products %}
                        	<li class="standard" data-price="{{ product.price }}">
                            <a href="{{ product.url }}" title="{{ product.name }}">
                            <div class="image">
                                <img class="primary" src="{{ product.images[0] }}" alt="Product" />
                                {% if product.onSale %}
                                    <span class="badge badge-sale">SALE</span>
                                {% endif %}
                            </div>
                            <div class="title">
                                <div class="prices">
                                    {% if product.onSale %}
                                        <del class="base">${{ product.fullPrice }}</del>
                                    {% endif %}
                                    <span class="price">${{ product.price }}</span>
                                </div>
                                <h3>{{ product.name }}</h3>
                            </div>
                            </a>
                        </li>
                        {% endfor %}
                     </ul>
                    <!-- End class="product-list isotope" -->
                </div>
                <div class="span3">
                    <!-- Categories widget -->
                    <div class="widget Categories">
                        <h3 class="widget-title widget-title ">Categories</h3>
                            <ul class="category-list secondary">
                                {% for category in categories %}
                                    <li>
                                        <a href="{{ category.url }}" title="{{ category.name }}">
                                            <b>{{ category.name }}</b>
                                        </a>
                                    </li>
                                    <ul class="category-list sub-category">
                                        <li>
                                            <a href="#" title="Child">Child</a>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </ul>
                    </div>
                    <!-- End class="widget Categories" -->

                    <!-- This month only! widget -->
                    <div class="widget Text">
                        <h3 class="widget-title widget-title ">This month only!</h3>
                        <h5>Free Shipping!</h5>
                        <h6>On orders over $50</h6>
                        <p>You can change this promotion by going to Editor > Pages > Home</p>
                        <a class="btn btn-primary" href="/shop">
                        Shop Now
                        </a>
                    </div>
                    <!-- End class="widget Text" -->

                </div>
            </div>
        </div>
    </section>
    <!-- End Featured content" -->
</section>
<!-- End class="home" -->
